

.List > input{
    width: 100%;
    height: 40px;
    border:none;
    border-bottom: 1px solid rgb(220, 220, 220);
    
}

.List > input:focus{
    outline: none;
    border-bottom: 1px solid rgb(37, 147, 255);
}